{% extends 'base.html' %}

{% block content %}
    <div class="right_col" role="main">
        <!-- Section For User Selection -->
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Your Choice<small>Our Priority!</small></h2>
                        <ul class="nav navbar-right panel_toolbox" style="min-width: 0 !important">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- Smart Wizard -->
                        <p>Please select the state, district and crop to get the prediction.</p>
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps">
                                <li>
                                    <a href="#step-1">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                            State<br />
                                            <small>Start by selecting a state</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <span class="step_no">2</span>
                                            <span class="step_descr">
                                            District<br />
                                            <small>Select the district</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <span class="step_no">3</span>
                                            <span class="step_descr">
                                            Crop<br />
                                            <small>Select the crop</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-4">
                                        <span class="step_no">4</span>
                                        <span class="step_descr">
                                        Prediction<br />
                                        <small>Predict the values!</small>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="step-1">
                                <form class="form-horizontal form-label-left">  {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="state-append">State <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <select class="select2_single form-control" tabindex="-1" onchange="filterDistricts(this)">
                                                <option>Choose State</option>
                                                {% for state in states %}
                                                    <option value="{{ state }}">{{ state }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-2">
                                <form class="form-horizontal form-label-left">  {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="state-append">District <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <select id="district-select" class="select2_single form-control" tabindex="-1">
                                                <option>Choose District</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End SmartWizard Content -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Crops</h2>
                        <ul class="nav navbar-right panel_toolbox" style="min-width: 0 !important">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            {% for crop in crops %}
                                <div class="col-md-4">
                                    <div class="thumbnail" style="height: 250px;">
                                        <div class="image view view-first" style="height: 192px;">
                                            <img style="width: 100%; display: block;" src="{{ crop.image_url }}" alt="image" />
                                            <div class="mask">
                                                <p>{{ crop.name }}</p>
                                                <div class="tools tools-bottom" style="margin: 118px 0 0;">
                                                    <a href="#"><i class="fa fa-link"></i></a>
                                                    <a href="#"><i class="fa fa-pencil"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption" style="text-align: center; font-size: large; font-weight: 700;">
                                            <p>{{ crop.name }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}